.border-bottom
{
 border-bottom: solid 1px black;
}
.about-text2
{
	margin-top:1em;
}

.about-final
{
	font-family: 'Source Sans Pro', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size:0.9em;
	line-height:7em;
	color: #00BA87;	
	font-weight: bold;
	margin-left:0px !important;
	
}
.about-subtitle
{
	font-family: 'Source Sans Pro', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size:2.4em;
	line-height:1.5em;
	color: #00BA87;
}
.about-titles
{
	
	line-height:1em;
}
.appstore-img
{
	margin-left:4em !important;
}


.about-img1
{
	
	    background-image:url(../images/A/bg.png);  
    	position:relative;
    	z-index:0;

}
.fondo-1
{
	position:absolute;
	z-index:-1;
	height:43em;
}
.about-text-avalible
{
	font-family: 'Source Sans Pro', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size:75%;
	color:#00c189;
}
.about-cambiante
{
	text-align: center;
}
.about-espaciadora-person
{
	height:6.3em;
}
.espaciador
{
	height:100px;
}
.redar-logo
{

	
	margin-left: 0px !important;


}
.about-person
{
	margin-left: 0px !important;
	
	
}
.container-about
{
	
	/*position:relative;
	z-index: 1;*/
	padding-top:9em;
}
.about-text
{
	
	font-family: 'Source Sans Pro', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 2em;
	color:#00C189;
	line-height: 1.2em;

}
.about-images
{
	margin-top:50px;
	text-align: right;
}
.img-marginleft
{
	margin-left:3.5em !important;
}
.margin-imag
{
	margin-left:7px !important;
}

@media screen and (max-width: 1024px) 
 {
 	.about-images
{
	margin-top:50px;
	text-align: right;
}
 }
@media screen and (max-width: 940px)
{

	width:30em;
	padding-left:13%;
}

.landing-hide
{
	opacity:0.0;
	z-index:5;
	position:relative;
}
