
.text-pasos
{
	margin-left: 2em;

}

.text-medio
{
	color:#E4E4E4;
	line-height: 1.4em ;
	font-size: 131%;
}
.text-fila3
{
	margin-top:.6em;
	color:#00BA87;
	line-height: 1.4em;
	font-family: 'Source Sans Pro', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 1.2em;
}
.espaciador-blee
{
height: 8em;
}
.blee-tittle
{
	font-family: 'Source Sans Pro', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 200%;
	color:#ffffff;
	
	
}
.blee-text-fila2
{
	font-family: 'Source Sans Pro', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:140%;
	color:#ffffff;
	line-height:2em;
}
h1
{
	margin-bottom: 0px !important;
}
.blee-textall
{
	margin-top:7em;
}

.container-blee
{
	
	margin-top:.25em !important;
}
.espaciador-1
{
	height:2%;
}
.container
{
	
}

.image-1
{
	margin-left:5em;
}
.image-cel
{
	margin-left:10em;
}
.location-text
{
	color: #272833;
	line-height:1.4em;
	font-size:1.2em;
}
