.d-image
{
	 margin-left: 113px !important;
}
.images
{
	 margin-left: 113px;
	 }
.textall-dash2
{
	margin-top: 5em;
}
.title-dash2
{
	font-family: 'Source Sans Pro', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 162.5%;
	color: #FFFFFF;
	
	
}
.text-business
{
	font-family: 'Source Sans Pro', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 120%;
	color:#272833;
	line-height: 1.31em;
	margin-top:0.6em;
}
.dashboard2all
{
	background:rgb(20,151,101);
	border-bottom: solid 1px black;
}
.dashboardground
{
	background:rgb(20,151,101);
	
}
.text-dash2
{
	font-family: 'Source Sans Pro', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 120%;
	color:#272833;
	line-height: 1.31em;
	margin-top:0.9em;
}

.text-dash3
{
	font-family: 'Source Sans Pro', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 120%;
	color:#272833;
	line-height: 1.31em;
	margin-top:1.3em;
}
.text-dash4
{
	font-family: 'Source Sans Pro', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 120%;
	color:#272833;
	line-height: 1.31em;
	margin-top:1.3em;
}
.sub-title-dash2
{
	font-family: 'Source Sans Pro', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 162.5%;
	color: #ffffff;
	line-height: .7em;
	margin-top:1.2em;
}
.E-images
{
	margin-left:4em;
}
.li-business
{
	margin-left:2em;
	color:#272833;
	font-size: 120%;
	margin-top:1em;
}
