.span6
{
	border: solid 1px green !important;
}
.container {
	background:gray;
}
.span1
{
	background
}
.span2
{
	background:red;
	
}
.span7
{
	background:orange;
}
.span5
{
	background:blue;
}
.span10
{
	background:yellow;
}
.span6
{
	background: rgb(29,29,38);
}
.span3
{
	background:black;
}
.span9
{
	background:gray;
}
.span3
{
	background:purple;
}